.voting-block .question {
  margin-bottom: 20px;
}

.voting-block .answer-options {
  margin-top: 10px;
}

.voting-block .answer-option {
  margin-bottom: 10px;
}

.voting-block .answer-option-item {
  display: flex;
  align-items: center;
}

.voting-block .answer-option-item img {
  max-width: 100px;
  margin-right: 10px;
}

.voting-block .answer-option-item h4 {
  margin: 0 10px 0 0;
}

.voting-block .answer-option-item label {
  margin-left: auto;
}
